# Scrapper config file
[GLOBAL]
progress_bar_ticks=10

# Definicion de los datos y páginas a capturar

[general]
outputpath	= .

[proc:cotizaciones-bcu]
function    = cotizaciones_bcu
name        = Captura de cotizaciones de monedas del BCU
url         = https://www.bcu.gub.uy/Estadisticas-e-Indicadores/Paginas/Cotizaciones.aspx
boton_xpath = //*[@id="ctl00_ctl63_g_0723770d_f942_45cc_80db_28dc7fa543a2_ctl00_rblGrupos_1"]
xml_xpath   = /html/body/form/div[6]/div/div/div/div/section/div/span/div[1]/div[5]/div[1]/div/div/div/div/div[1]/div/div[2]/table/tbody/tr[2]/td/table/tbody/tr/td[2]/input

[proc:datos_marca_inpi]
function            = datos_marca_inpi
name                = Captura los datos de actas del INPI
url                 = https://portaltramites.inpi.gob.ar/MarcasConsultas/Resultado?acta={ACTA}
tipo_marca_xpath    = /html/body/div[4]/div[2]/div[1]/div/div[2]/div/div/div[3]/section/label/span
fechap_xpath        = /html/body/div[4]/div[2]/div[1]/div/div[2]/div/div/div[1]/section/label/span
denominacion_xpath  = /html/body/div[4]/div[2]/div[1]/div/div[2]/div/div/div[2]/section/label/span

[proc:patentes_inpi_novedades]
function            = patentes_inpi_novedades
name                = Captura los datos de novedades de patentes del INPI
url                 = https://portaltramites.inpi.gob.ar/PatenteConsultas/BusquedaParametros/
txt_solicitud       = /html/body/div[4]/div[2]/div/div[1]/form/div[2]/div/div/div[1]/section/label/input
btn_buscar          = /html/body/div[4]/div[2]/div/div[1]/form/div[2]/div/div/div[4]/section/label/input
btn_more            = /html/body/div[4]/div[2]/div/div[3]/div[2]/div[2]/table/tbody/tr/td[9]/a/i
label_grilla_digital= /html/body/div[4]/div[1]/form/div[3]/a/span
grilla              = /html/body/div[4]/div[2]/div/div[3]/div[2]/div[2]/table/tbody

[proc:zonaprop]
function            = zonaprop
name                = Captura de datos de propiedades de Zonaprop
contact_xpath       = //*[@id="contactFormSubmit"]
precio_xpath        = //*[@id="article-container"]/div[1]/div[1]/div/div/div[1]/div[2]/span/span
price_type          = /html/body/div[2]/main/div/div/article/div/div[1]/div[1]/div/div/div[1]/div[1]
mts1_xpath          = //*[@id="article-container"]/hgroup/ul/li[1]
mts2_xpath          = //*[@id="article-container"]/hgroup/ul/li[2]
expensas_xpath      = //*[@id="article-container"]/div[1]/div[1]/div/div/div[2]/span
ambientes_xpath     = //*[@id="article-container"]/hgroup/ul/li[3]
dir_xpath           = //*[@id="article-container"]/hgroup/h2
barrio_xpath        = //*[@id="article-container"]/hgroup/h2/span[1]
banio_xpath         = //*[@id="article-container"]/hgroup/ul/li[4]
publicado_xpath     = //*[@id="user-views"]/div/div[1]/p
datos_ul_xpath      = //*[@id="article-container"]/hgroup/ul
descripcion_xpath   = //*[@id="article-container"]/hgroup/div/h1
inmobiliaria_xpath  = //*[@id="react-publisher-card"]/div/div/span/h5
